# this is our custom configurations
config.d/*

# this is where we'll do our work on modules, it will be ahead of the other
# modules directories in the modulepath, so it'll take precedence in cases of
# conflict between same-name modules.
dev

# this is where our puppet node manifests live, and will define how puppet will
# configure our boxes
puppet/manifests/nodes/

# this should be pointing to our production puppet modules
puppet/modules

.vagrant

sync/*
