# -*- mode: ruby -*-
# vi: set ft=ruby :

# This is an example custom Vagrantfile that is called from the main
# Vagrantfile in the top level of the Vagrant dir.  Relatively speaking,
# this should be in config.d/Vagrantfile for it to work

Vagrant.configure("2") do |config|
  config.vm.define :burn do |burn|
    # burn.vm.box = 'myboxname'
    burn.vm.network :private_network, ip: "10.0.0.11"
    burn.vm.provision :shell, :inline => "hostname burn.lan"
  end
end
