# -*- mode: ruby -*-
# vi: set ft=ruby :

# This file is called by the top-level vagrant file before any boxes are
# configured.  This allows us to do things like setup provision steps for all
# boxes, so we can add things like host entries to all boxes provisioned.
#
# This file should be named config.d/VagrantInit to work

Vagrant.configure("2") do |config|
  #config.vm.provision :shell, :inline => "echo 10.0.0.10  burn burn.lan >> /etc/hosts"
end
